.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
    height: 24px;
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}